In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
xls = pd.ExcelFile("a.xls")
xls

df1 = pd.read_excel(xls, "T1 T2")

for index, row in df1.iterrows():
    print(row[1])

df1

nan
Ethnic Group
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
Note:
nan
nan
nan
nan
nan
Table  2 :    Vital Rates by Ethnic Group, 2015
nan
Ethnic Group
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

,Unnamed: 0,"Table 1 : Vital Statistics by Ethnic Group, 2015\n(Singapore Citizens, Permanent Residents and Foreigners)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Ethnic Group,NaN,NaN,Natural Increase,NaN,Live-births,NaN,Deaths,NaN,Infant Mortality,NaN,Neonatal Mortality,NaN,Perinatal Mortality,NaN,Still-births
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Chinese,NaN,10456,NaN,25412,NaN,14956,NaN,43,NaN,23,NaN,59,NaN,44
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Malays,NaN,4092,NaN,6961,NaN,2869,NaN,27,NaN,12,NaN,32,NaN,24
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Indians,NaN,3350,NaN,4895,NaN,1545,NaN,11,NaN,5,NaN,17,NaN,13
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Others,NaN,4425,NaN,4917,NaN,492,NaN,3,NaN,1,NaN,10,NaN,9
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,Total,NaN,22323,NaN,42185,NaN,19862,NaN,84,NaN,41,NaN,118,NaN,90
13,NaN,Note:,(1) Natural increase is the excess of live-bi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,(2) Infant mortality refers to deaths of infa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,(3) Neonatal mortality refers to deaths of in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,(4) Perinatal mortality refers to deaths of i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,"Table 2 : Vital Rates by Ethnic Group, 2015",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Ethnic Group,NaN,NaN,Crude Rate of Natural Increase,NaN,Crude Birth Rate,NaN,Crude Death Rate,NaN,Infant Mortality Rate,NaN,Neonatal Mortality Rate,NaN,Perinatal Mortality Rate,NaN,Still-birth Rate
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,Per Thousand Resident Population,NaN,NaN,NaN,NaN,NaN,Per Thousand Resident Live-births,NaN,NaN,NaN,Per Thousand Live-births & Still-births,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,Chinese,NaN,3.6,NaN,8.6,NaN,5,NaN,1.4,NaN,0.7,NaN,2.3,NaN,1.7
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,Malays,NaN,8.1,NaN,13.3,NaN,5.1,NaN,3.6,NaN,1.6,NaN,4.6,NaN,3.4
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,Indians,NaN,7.3,NaN,10.9,NaN,3.6,NaN,1.3,NaN,0.8,NaN,3.5,NaN,2.6
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,Others,NaN,15.9,NaN,17.9,NaN,2,NaN,0,NaN,0,NaN,2,NaN,1.8
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,Total,NaN,4.9,NaN,9.7,NaN,4.8,NaN,1.7,NaN,0.8,NaN,2.8,NaN,2.1
37,,NaN,"Note: The crude rate of natural increase, li...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN